.listado-izquierdo {
    width: 220px;
    float: right;
}

.cabecera-listado {
    width: 220px;
    border-bottom: 1px solid gray;
}

.tags {
    border-bottom: 1px solid gray;

    &__list {
        display: flex;
        text-align: center;
        padding: 0;
        list-style: none;
    }

    &__list li {
        padding: 3px 5px;
        background-color: $blue;
        margin: 2px;
        color: white;
        border-radius: 5px;
    }
}





.noticias-destacadas {
    margin-bottom: 50px;
}

.noticias-destacadas img {
    width: 220px;
    height: 200px;
}
