.listado-noticias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-auto-rows: auto;
    cursor: pointer;
}

.cuerpo img {
    width: 210px;
    height: 300px;
}

.cuerpo p {
    padding: 5px 10px;
}

@media (max-width: 720px) {
    .listado-noticias{
        grid-template-columns: repeat(2, 1fr);
    }
 }

 @media (max-width: 540px) {
    .listado-noticias{
        grid-template-columns: 1fr;
    }
 }