.newsletter {
    width: 100%;
    margin: auto;
    background-color: rgb($grey, 0.3);
    text-align: center;
    padding: 50px 0px;
}
    

.newsletter h2 {
    font-size: 24px;
    margin: 0px;
}

.group input,
.group button {
    display: inline-block;
    border: 1px solid $grey;
    font-size: 13px;
    padding: 5px 10px;
    margin-right: 10px;

}

.group button {
    background-color: coral;
    color: white;
    margin-right: 25px;
    
}